<!DOCTYPE html>
<html>
<head>
  <title>Geographapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.first_name %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Foursquare", "/auth/foursquare" %>
<% end %>

<%= yield %>

</body>
</html>
